<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
</style> 

*{margin:0;padding:0;outline:0}
body{font-family: 'Roboto'; sans-serif;font-size:14px;line-height:18px;color:#000;background:url(images/bg.png)repeat fixed 0 0 #000;}


.clean{overflow:hidden;}
.templete{width:960px;margin:0 auto;}
.contemplete {
    width: 928px;
    margin: 0 auto;
}

input[type="text"], input[type="email"] {
	width: 300px;
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid #B48F22;
	border-radius: 3px;
}
input[type="submit"] {
	background: #B48F22;
	padding: 2px 10px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #B48F46;
}
input[type="submit"]:hover {
	background: #F5F5DF;
	color: #000;
}
textarea {
	width: 300px;
	height: 123px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #D8B346;
}

.headersection {
    /* height: 85px; */
    background: #ca932f;
    color: #fff;
}
.logo{width:500px;float:left;}
.logo img {
	float: left;
	width: 70px;
	padding-left: 20px;
	/* padding-right: 10px; */
	padding-bottom: 10px;
	padding-top: 18px;
	margin-right: 15px;
}
.logo h2 {
	margin-top: 29px;
	font-size: 34px;
	margin-bottom: 10px;
	color: #fff;
	text-shadow: 2px 2px 0 #666;
}
.logo p{}
.social {
	width: 229px;
	float: right;
	padding: 27px;
}
.social img {
	width: 51px;
}
.navsection {
	/* height: 30px; */
	background: #EAC142;
}
.navsection ul{margin:0;padding:0;list-style:none;}
.navsection ul li {
	/* display: block; */
	float: left;
}
.navsection ul li a {
	display: block;
	background: #B48F22;
	margin: 5px;
	text-decoration: none;
	padding: 4px 15px;
	font-size: 19px;
	color: #444;
	border: 1px solid #B9942A;
	padding-top: 2px;
}
.navsection ul li a:hover, #active  {
	background: #D5AC2F;
	color: #fff;
}


.slidersection {
    margin-bottom: 0px;
    /* box-shadow: 0px 5px 11px -3px #333; */
}


.contentsection {
    background: #FFFEFF;
    border: 1px solid #CA932F;
    padding: 15px;
}
.maincontent {
    width: 600px;
    background: #F5F5DF;
    float: left;
    padding: 8px 15px;
    margin: 0px 15px 15px 0px;
    margin-left: 0px;
    border: 1px solid #DED4C5;
}

.about{}

.about img {
	float: left;
	width: 239px;
	padding: 5px;
	background: #fff;
	height: 168px;
	margin-right: 10px;
	border: 1px solid #E1D76A;
}
.about p {
	font-size: 15px;
	line-height: 23px;
	text-align: justify;
	margin-bottom: 12px;
}
.relatedpost{}
.relatedpost h2 {
	background: #EAC142;
	color: #fff !important;
	border-bottom: 3px solid #C6A136 !important;
	/* padding: 10px; */
}
.relatedpost img {
	width: 151px;
	height: 104px;
	margin-bottom: 10px;
}
.relatedpost img:hover {
	opacity: 0.5;
}
.samepost{}
.samepost h2,.about h2{
	/* background: #9A999A; */
	padding: 10px;
	border-bottom: 2px solid #D5D5BF;
	margin-bottom: 10px;
	font-size: 25px;
	/*text-decoration: none;*/
	color: #B48F22;
}
.samepost h2 a{
	text-decoration:none;
}
.samepost img {
	float: left;
	width: 213px;
	margin-right: 10px;
	background: #fff;
	padding: 5px;
	border: 1px solid #EDEB7E;
}
.samepost p {
	font-size: 16px;
	line-height: 23px;
	text-align: justify;
}
.readmore {
	float: right;
	margin-top: 10px;
	/* background: #fff; */
	border-radius:4px
}
.readmore a {
	text-decoration: none;
	background: #fff;
	padding: 3px 3px;
	display: block;
	font-size: 17px;
	color: #B48F22;
	border: 1px solid #B48F22;
}
.readmore a:hover {
	color: #4679C1;
	background: #DCECF9;
}
.sidebar {
    width: 259px;
    background: #F5F5DF;
    float: right;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #DED4C5;
}
.samesidebar {
	margin-bottom: 7px;
}
.samesidebar h2 {
	background: #EAC142;
	padding: 10px;
	color: #fff;
	margin-bottom: 9px;
	border-bottom: 2px solid #B48F22;
}
.samesidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.samesidebar ul li {
	padding: 4px 6px;
	padding-left: 0px;
	/* border: 1px spolid #DFBA73; */
	border-bottom: 1px dashed #E6C75A;
}
.samesidebar ul li:last-child{
	
	border-bottom: 0px dashed #E6C75A;
	}
.samesidebar ul li a {
	text-decoration: none;
	font-size: 16px;
	color: #C3A425;
}
.samesidebar ul li a:hover{
	color:#333;
}
.popular{}
.popular h3 {
	/* text-decoration: none; */
	font-weight: normal;
	font-size: 23px;
	border-bottom: 1px dashed #E6C154;
	margin-bottom: 10px;
	/* padding: 7px; */
	padding-bottom: 5px;
}
.popular h3 a {
	text-decoration: none;
	/* padding-top: -26px; */
	color: #444;
}
.popular img {
	width: 60px;
	height: 50px;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	background: #fff;
	border: 1px solid #FFDA6D;
	border-radius: 9px;
}
.popular p{}







.samesidebar p {
	line-height: 19px;
	border-bottom: 3px solid #fff;
	text-align: justify;
}
.footersection {
    height: 90px;
    background: #ca932f;
    text-align: center;
}

.footermenu {
	margin-top: 19px;
	margin-bottom: 3px;
}
.footermenu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}
.footermenu ul li {
	display: inline-block;
}
.footermenu ul li a {
	color: #E7BE3F;
	font-size: 16px;
	margin-right: 3px;
}
.footermenu p{
	color:#333;
}
.fixedicon {
	position: fixed;
	left: 0;
	top: 170px;
	width: 60px;
} 
.fixedicon img {
	width: 50px;
}



