*{margin:0;padding:0;outline:0;}
body{font-family:arial;font-size:14px;line-height:18px;color:#000;}


.clean{overflow:hidden;}
.templete{width:970px;margin:0 auto;}
.headersection{height:85px;background:#2E2D2E;}
.headersection h2 {
	color: #fff;
	text-align: center;
	padding: 30px;
	font-size: 40px;
}
.navsection {
	height: 32px;
	background: #9A999A;
}
.navsection p {
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	padding-top: 6px;
	padding: ;
	padding-left: 48px;
}
.contentsection {
	background: #FFFEFF;
}
.maincontent {
	width: 650px;
	background: #E0DFE1;
	float: left;
	padding: 10px;
	margin: 13px;
	margin-left: 0px;
}
.maincontent p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 16px;
}
.sidebar {
	width: 287px;
	background: #E0DFE1;
	float: right;
	margin-top: 15px;
}
.samesidebar{}
.samesidebar h3 {
	background: #4F4D4F;
	color: #fff;
	padding: 10px;
	margin-bottom: 9px;
	border-bottom: 5px solid #3399FF;
	text-align: center;
	font-size: 22px;
}
.samesidebar p {
	font-size: 15px;
	padding: 5px;
	line-height: 21px;
	margin-bottom: 8px;
	border-bottom: 3px solid #fff;
}
.footersection {
	height: 75px;
	background: #4F4D4F;
}
.footersection p {
	font-size: 45px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding-top: 27px;
}