*{margin:0;padding:0;outline:0;}
body{font-family:arial;font-size:14px;line-height:18px;color:#000;}


.clear{overflow:hidden;}
.templete{width:960px;margin:0 auto;}
.headersection {
	height: 85px;
	background: #2E2D2E;
}
.headersection h2 {
	color: #fff;
	font-size: 36px;
	text-align: center;
	padding: 34px;
}
.navsection {
	height: 40px;
	background: #9A999A;
}
.navsection p {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding-left: 66px;
	padding-top: 10px;
}
.contentsection{}
.maincontent {
	width: 610px;
	background: #E0DFE1;
	float: left;
	padding: 10px;
	margin: 15px;
	margin-left: 0px;
}
.maincontent p {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 15px;
}
.sidebar {
	width: 295px;
	background: #E0DFE1;
	float: right;
	padding: 10px;
	margin-top: 15px;
	margin-bottom:5px;
}
.samesidebar h3 {
	background: #4F4D4F;
	font-size: 16px;
	font-weight:bold;
	color: #fff;
	padding: 10px;
	margin-bottom: 8px;
	border-bottom: 3px solid #C4DC5D;
	text-align: center;
}
.samesidebar p {
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 15px;
	border-bottom: 3px solid #fff;
}
.footersection {
	height: 90px;
	background: #4F4D4F;
}
.footersection p {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding-top: 34px;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
		