*{margin:0;padding:0;outline:0;}
body{font-family:arial;font-size:15px;line-height:18px;color:#000;}


.claer{overflow:hidden;}
.templete{width:960px;margin:0 auto;}
.headersection {
	
	background: #132A4C;
	color: #fff;
}
.logo {
	float: left;
	width: 400px;
}
.logo img {
	width: 78px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-right: 16px;
	float: left;
}
.logo h2 {
	margin-top: 29px;
	font-size: 26px;
	margin-bottom: 9px;
	text-shadow: 2px 1px #F9F9F9;
}
.logo p{}
.social {
	float: right;
	width: 245px;
	padding-top: 27px;
}
.social img {
	width: 50px;
}

.navsection {
	
	background: #1B63A2;
	color: #fff;
}
.navsection ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.navsection ul li {
	
	float: left;
	/* padding: 10px; */
}
.navsection ul li a {
	display: block;
	background: #367EBD;
	/*border: 1px solid #257250; */
	margin: 15px;
	text-decoration: none;
	font-size: 14px;
	padding: 5px 31px;
	color: #B0B0B0;
	font-weight: bold;
}
.navsection ul li a:hover {
	background: #103B60;
}
.contentsection {
	background: #FFFFFF;
}
.maincontent {
	width: 615px;
	float: left;
	background: #F0F0F0;
	padding: 10px;
	margin: 15px;
	margin-left: 0px;
	border: 1px solid #D7FBFB;
}
.samepost{}
.samepost h3 {
	padding: 10px;
	font-size: 26px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 8px;
	/* text-decoration: none; */
	color: #4A9797;
}
.samepost img {
	float: left;
	width: 254px;
	margin-right: 10px;
	background: #fff;
	padding: 2px;
	border: 1px solid #ACF9F9;
}
.samepost p {
	font-size: 15px;
	line-height: 23px;
	text-align: justify;
	margin-bottom: 10px;
}
.readmore {
	float: right;
	margin-top: 9px;
}
.readmore a {
	text-decoration: none;
	background: #EAEAEA;
	padding: 7px 10px;
	display: block;
	font-size: 15px;
	border: 1px solid #D9D9D9;
	/* border: ; */
	border-radius: 16px;
}
.readmore a:hover{color:#529F9F;}

.sidebar {
	width: 286px;
	float: right;
	background: #F0F0F0;
	margin-top: 15px;
	padding: 10px;
	border: 1px solid #D7FBFB;
}
.samesidebar {}
.samesidebar h3 {
	background: #529F9F;
	color: #fff;
	padding: 9px;
	margin-bottom: 10px;
	border-bottom: 1px solid #B1B1B2;
}
.samesidebar p {
	font-size: 15px;
	margin-bottom: 5px;
	border-bottom: 1px solid #fff;
}

.footersection {
	height: 86px;
	background: #132A4C;
}
.footersection p {
	color: #fff;
	font-size: 30px;
	text-align: center;
	padding-top: 28px;
	font-weight: bold;
}
.{}
.{}
.{}
