*{margin:0;padding:0;outline:0}
body{font-family:arial;font-size:14px;line-height:18px;}

.templete{width:960px;margin:0 auto;}
.headersection{height:85px;background:#2E2D2E;color:#fff;}
.headersection h2 {
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
}
.navsection{height:35px;background:#99989A;}
.navsection p {
	color: #fff;
	font-size: 25px;
	padding-left: 50px;
	padding-top: 7px;
	font-weight: bold;
}